name: Build Using Composite Action

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run my composite action
        uses: ./.github/actions/my-composite.yml
