name: Use Secrets
on: [push]
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Use secret
        run: |
          echo "Username is ${{ secrets.ACCESS_KEY}}"
          echo "Password length is ${#DB_PASSWORD}"
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
